- Follow the requirement.md file
- Each time just do a single feature only
- After finishing a feature create a docs .md file in the docs folder.
- It is a simple prototype project. Doesn't required any security and any extra features.